{% extends '../base.html' %}
{% load static %}
{% block content %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Amantur Ubaidilaev</h1>
            <span class="color-text-a">Python Developer</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Developer</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Amantur Ubaidilaev
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{% static 'img/my-photo.jpg' %}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h3 class="title-d">Amantur Ubaidilaev
                      <br> Python</h3>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    Приветствую вас на моем сайте (проект|портфолио), теперь немного информации <strong>О себе:</strong> в программировании уже более 2 года
                    (с момента написания первого "Hello, World!"), в этом году окончил школу (11 класс), не поступил в ВУЗ: так как
                    не до конца уверен в своем выборе. Помимо программирования увлекаюсь велоспортом, рисованием, изучением английского языка,
                    чтением, а также большую часть времени провожу за просмотром YouTube.<br><br>
                    <strong>Как я пришел в программирование:</strong> Впервые с программированием познакомился осенью 2019 года,
                    и начал обучаться программированию в It Academy по языку Java, еще
                    не понимая что языки делятся на фронт и бэк (об этом я узнал на курсах), по началу было очень сложно,
                    но я смог успешно окончить курс (летом 2020 года). После курсов не стал искать работу или стажировку по моему направлению так как
                    к тому времени я учился в школе, а после заинтересовался web разработкой, а именно python. А так же с помощью этих знаний мне удалось не раз получить
                    призовые места на районной олимпиаде по информатике.
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong>
                      <span class="color-text-a"> +996 222 222 676 </span>
                    </p>
                    <p>
                      <strong>Phone 2: </strong>
                      <span class="color-text-a"> +996 700 222 829 </span>
                    </p>
                    <p>
                      <strong>Email: </strong>
                      <span class="color-text-a"> amantur.ubaid@gmail.com </span>
                    </p>
                  </div>
                </div>
                <div class="socials-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="https://t.me/AmanturUbaid" class="link-one">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://instagram.com/joellare02?utm_medium=copy_link" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://pin.it/6A515rl" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://wa.me/+996709298600" class="link-one">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://github.com/Amantur-344" class="link-one">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="title-box-d">
            <p><strong>Об EstateAgancy:</strong> Этот шаблон был скачан. Я делал только Backend, и сделано все это
            на Django, код этого сайта можете посмотреть на моем github (ссылка выше). А также там вы найдете некоторые другие проекты
            сделанные на Django|DRF.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->
{% endblock content %}
