{% extends '../base.html' %}

{% block content %}
  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{ title }}</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Properties Grid
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Grid Star /-->
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        {% for estate in estates %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{ estate.main_image.url }}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">{{ estate.title }}</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{ estate.status }} | $ {{ estate.price }}</span>
                  </div>
                  <a href="property-single.html" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>{{ estate.area }}m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>{{ estate.beds }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>{{ estate.baths }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>{{ estate.garage }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="pagination">
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-start">
                    {% if estates.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ estates.previous_page_number }}">previous</a></li>
                    {% endif %}
                <li class="page-item page-link">
                    Page {{ estates.number }} of {{ estates.paginator.num_pages }}.
                </li>
                    {% if estates.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ estates.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ estates.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
              </ul>
            </nav>
          </div><!-- end col -->
        </div><!-- end row -->
      </div>

    </div>
  </section>
  <!--/ Property Grid End /-->
  {% endblock content %}
 